body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.header h1 {
  margin: 10px;
}

.btn-group-vertical .btn {
  width: 100%;
}
