body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.header h1 {
  margin: 10px;
}

.btn-group-vertical .btn {
  width: 100%;
}
.input-append.frequency-input {
  margin-bottom: 0;
  margin-left: 10px;
}
.frequency-input input {
  width: 40px;
}
#brightnessInput {
  width: 40px;
  margin-bottom: 0;
  margin-left: 10px;
}
.controls-holder {
  margin-top: 10px;
  text-align: center;
}
.controls-holder .btn-group {
  display: block;
}
